/* import fonts here */

* {
  box-sizing: border-box;
}

:root {
  /* define variables here */
  --green: green;
  --red: red;
  --blue: blue;
}

html {
  touch-action: manipulation;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

/*
COMPONENT: Navbar
*/

.navbar {
  background-color: #f8f8f8;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 5%;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-logo {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Lustria', serif;
}

.nav-menu {
  display: flex;
  list-style: none;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #007bff;
}

.nav-link-button:hover{
  cursor: pointer;
}


.side-menu-box {
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  padding: 10px;
  overflow: auto; 
}


@media (max-width: 768px) {
  .side-menu-box {
    width: 35vw;
    flex-direction: row;
  }
}

@media (max-width: 1250) {
  .side-menu-box {
    width: 15vw;
    flex-direction: row;
  }
}

@media (min-width: 3000) {
  .side-menu-box {
    width: 5vw;
  }
}


/* 
COMPONENT: AccountForm
*/

.account-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f2f2f2;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  text-align: center;
  margin-bottom: 1rem;
}

.form-label {
  display: flex;
  margin-bottom: 0.5rem;
  align-items: center;
  align-self: flex-start;
}

.form-input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #0056b3;
}

.form-link {
  display: block;
  margin-top: 1rem;
  text-align: center;
  color: #007bff;
  text-decoration: none;
}

/* 
COMPONENT: ProductListPage
*/

.plp-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  padding-bottom: 100px;
}


/* 
COMPONENT: ProductListItem
*/

.plp-item {
  flex: 1 0 25%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 250px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  margin: 10px;
  transition: transform 0.9s ease;
  /* Updated transition duration to 0.6s */
  cursor: pointer;
  border-radius: 8px;
  /* Added border-radius */
  font-family: 'Red Hat Display', sans-serif;
}


.plp-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.plp-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.plp-item h3 {
  margin-top: 10px;
}

.plp-item p {
  font-weight: bold;
  margin-top: 5px;
}

.plp-item button {
  margin-top: auto;
  padding: 8px 16px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

.plp-item button.add-to-cart:hover {
  background-color: #007bff;
  border: none;
  color: white;
}

.empty-cart-message {
  color: black;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.cart-action-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.view-products-button,
.checkout-button {
  width: 200px;
  height: 40px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}

.view-products-button:hover,
.checkout-button:hover {
  background-color: #333;
}




/* Component for Logout */

.logout-button {
  display: flex;
  width: 80.45px;
  border: none;
  background-color: transparent;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

.logout-button:hover {
  color: #007bff;
  cursor: pointer;
}

/* Component for MyOrders */

.myOrders-container {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

.myOrders-container h3 {
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.order-table {
  padding: 8px;
  width: 100%;
  table-layout: fixed;
}

.order-table table {
  width: 100%;
  border-collapse: collapse;
}

.order-table th,
.order-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.orders-img {
  width: 125px;
  height: auto;
}

.order-info {
  margin-bottom: 10px;
}

.order-info p {
  margin: 5px 0;
}

.order-cards {
  display: flex;
  justify-content: center;
}

.order-column {
  background-color: #f2f2f2;
  padding: 10px;
  width: 25%;
}

.order-column th {
  padding: 10px;
}


/* 
COMPONENT: Cart
*/

.cart-container {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
}

.cart-container h3 {
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
}

.cart-table-header {
  background-color: #f5f5f5;
}

.cart-table th,
.cart-table td {
  padding: 10px;
}

.cart-table th {
  text-align: left;
  font-weight: bold;
}

.cart-table td:last-child {
  text-align: right;
  width: 1%;
}

.cart-item-remove-button {
  background-color: #ff5050;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* UpdateQty */

.quantity-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.quantity-button {
  background-color: #f5f5f5;
  color: #000000;
  border: none;
  border-radius: 4px;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quantity-display {
  margin: 0 10px;
  font-weight: bold;
}


/* Component for PDP */

.pdp-display-container {
  display: table;
  margin: 0 auto;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 1000px;
  height: 600px;
  overflow: auto;
}

.pdp-img {
  max-width: 400px;
  max-height: 500px;
  display: table-cell;
  vertical-align: top;
  object-fit: contain;
}


.pdp-details-container {
  display: table-cell;
  vertical-align: top;
  font-size: 18px;
  width: 350px;
}

.pdp-a2c-button {
  width: 200px;
  background-color: #3f51b5;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.pdp-description-container {
  display: table-row;
}

.pdp-container {
  padding-bottom: 100px;
}


/* Prod Carou */

.product-more-to-explore {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-carousel {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  position: relative;
}

.carousel-content {
  display: flex;
  overflow: hidden;
}

.carousel-item {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  padding: 15px;
  transition: transform 0.5s ease;
  border-radius: 8px;
}

.carousel-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.carousel-item-img img {
  width: 100%;
  height: auto;
}

.carousel-item-details {
  padding-top: 10px;
  text-align: center;
}

.carousel-item-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.carousel-item-price {
  font-size: 16px;
  color: #888;
}

.carousel-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.carousel-control-btn {
  padding: 5px 10px;
  background-color: #eee;
  border: none;
  cursor: pointer;
}

.carousel-control-btn.left-arrow {
  order: -1;
}

.carousel-control-btn:focus {
  outline: none;
}

@media screen and (max-width: 600px) {
  .carousel-item {
    flex: 0 0 calc(50% - 20px);
  }
}

@media screen and (max-width: 400px) {
  .carousel-item {
    flex: 0 0 calc(100% - 20px);
  }
}

/* Confirmation page */

.confirmation-message-container {
  text-align: center;
}

.confirmed-message {
  font-size: 24px;
  font-weight: bold;
}

.thank-you-message {
  font-size: 18px;
}

.confirmed-order-details-container {
  text-align: center;
  margin-top: 30px;
}

.confirmed-order-details-container h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.no-order-details-message {
  font-size: 16px;
  color: #888;
  text-align: center;
  margin-top: 20px;
}

/* Footer */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 60px;
  font-family: 'Lustria', serif;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.footer.visible {
  opacity: 1;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.footer-menu {
  display: flex;
  list-style: none;
}

.footer-item {
  margin-right: 20px;
}

.footer-link {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #007bff;
}

.footer-bottom {
  background-color: #f8f8f8;
  padding: 10px;
  text-align: right;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
}

/* Create Product dashboard */

.larger-container {
  display: flex;
  justify-content: center;
}

.create-prod-container {
  flex: 1;
  text-align: left;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 80%;
  max-width: 600px;
  margin-right: 20px;
}

.create-prod-title {
  margin-top: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 10px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: normal;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus {
  border-color: #4caf50;
  outline: none;
}

textarea {
  resize: vertical;
}

.btn-create {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #4caf50;
  color: #fff;
  padding: 12px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn-create:hover {
  background-color: #45a049;
}

.preview-container {
  flex: 1;
  text-align: left;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  margin-bottom: 20px;
}

.preview-title {
  margin-top: 0;
  text-align: center;
}

.preview-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 20px;
}

.preview-grid-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.preview-additional-info {
  margin-bottom: 20px;
}

.preview-additional-info p {
  margin-bottom: 10px;
}

.product-image-container {
  margin-bottom: 10px;
}

.product-image-container img {
  max-width: 100%;
  height: auto;
}

.preview-container .btn-create {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #4caf50;
  color: #fff;
  padding: 12px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.preview-container .btn-create:hover {
  background-color: #45a049;
}




/*Landing Page */


/* .video-container-wrapper {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in;
  background-color: transparent;
}

.video-container.fade-in {
  opacity: 1;
} */